In [3]:
import pandas as pd
from sklearn.metrics import pairwise_distances
links = pd.read_csv('/content/links.csv')
movies = pd.read_csv('/content/movies.csv')
ratings = pd.read_csv('/content/ratings.csv')
tags = pd.read_csv('/content/tags.csv')

In [4]:
print(links.head())
print(movies.head())
print(ratings.head())
print(tags.head())

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [5]:
df = pd.merge(movies,ratings,on='movieId')
df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [6]:
df = df[['userId','title','rating']]

In [7]:
pivot = df.pivot_table(index='title',columns='userId',values='rating',fill_value=0)
pivot

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,4.0
'Hellboy': The Seeds of Creation (2004),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
'Round Midnight (1986),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
'Salem's Lot (2004),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
'Til There Was You (1997),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,5,0,0.0,0.0,0,4.5,0,0.0
xXx (2002),0,0.0,0.0,0,0,0,0.0,0,1,0.0,...,0.0,0,0,0,0.0,0.0,0,3.5,0,2.0
xXx: State of the Union (2005),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,1.5
¡Three Amigos! (1986),4,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
À nous la liberté (Freedom for Us) (1931),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0

In [8]:
corr_matrix = pairwise_distances(pivot,metric='correlation')
corr_matrix

array([[0.        , 1.00164204, 1.0023241 , ..., 0.67471266, 1.00818543,
        1.00164204],
       [1.00164204, 0.        , 0.293474  , ..., 1.00359434, 1.00818543,
        1.00164204],
       [1.0023241 , 0.293474  , 0.        , ..., 1.00508734, 1.01158546,
        1.0023241 ],
       ...,
       [0.67471266, 1.00359434, 1.00508734, ..., 0.        , 1.0179175 ,
        1.00359434],
       [1.00818543, 1.00818543, 1.01158546, ..., 1.0179175 , 0.        ,
        1.00818543],
       [1.00164204, 1.00164204, 1.0023241 , ..., 1.00359434, 1.00818543,
        0.        ]])

In [9]:
indexes = list(pivot.index)
movie_index = indexes.index('Godfather, The (1972)')
movie_index

3499

In [10]:
like_indexes =(corr_matrix[movie_index].argsort()[1:6])
like_indexes

array([3500, 3564, 6311, 7079, 2940])

In [11]:
for i in like_indexes:
  print(indexes[i])

Godfather: Part II, The (1974)
Goodfellas (1990)
One Flew Over the Cuckoo's Nest (1975)
Reservoir Dogs (1992)
Fargo (1996)

In [15]:
like_indexes =(corr_matrix[indexes.index('Toy Story (1995)')].argsort()[1:10])
like_indexes
for i in like_indexes:
  print(indexes[i])

Toy Story 2 (1999)
Groundhog Day (1993)
Independence Day (a.k.a. ID4) (1996)
Willy Wonka & the Chocolate Factory (1971)
Mission: Impossible (1996)
Nutty Professor, The (1996)
Bug's Life, A (1998)
Lion King, The (1994)
Babe (1995)

In [16]:
like_indexes =(corr_matrix[indexes.index('Andrew Dice Clay: Dice Rules (1991)')].argsort()[1:10])
like_indexes
for i in like_indexes:
  print(indexes[i])

Isle of Dogs (2018)
Coco (2017)
Deadpool 2 (2018)
Prometheus (2012)
Pay It Forward (2000)
3:10 to Yuma (2007)
Silver Linings Playbook (2012)
Ex Machina (2015)
Drive (2011)